/* * {
}
html {
}
body {
}
header {
}
header h1 {
}
main {
  padding: 1rem 1rem;
  color: green;
}
p {
  padding: 0.5rem 0;
}

main p {
}

a {
}
main a {
}
main p a {
}

span {
}
main span {
}
main p span {
}
body main p span {
}
main p a span {
} */
